:host {
    display: block;
}

.star-rating-wrapper > span {
    display: inline-block;
    position: relative;
    width: 1em;
    font-size: 1.5em;
}
core-icon {
    color: #1F2036;
    width: 32px;
    height: 32px;
    cursor:copy;
    fill: red;

}
core-icon:hover {
    box-shadow: 1px;
    cursor:pointer;
}
